@import './all.scss';
// @import '~/node_modules/_scroll';
@import './_color_set.scss';


$scroll-color: #a5a5a5;

@import "./_scroll";

@include colors(
    $c-primary:  $c-primary,
    $c-secondary: $c-secondary,
    $c-error: $c-error,
    $c-info: $c-info,
    // ...
);

.theme--light.v-application {
    background: #212121 !important;
}
.layout-enter-active,
	.layout-leave-active {
		transition: opacity .3s;
}
.layout-enter, .layout-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
    opacity: 0;
}

.flex-0{
    flex: 0 !important;
}
.line-height-1{
    line-height: 1;
}
.fill-width{
    width: 100%;
}
.no-underline{
    text-decoration: unset;
}
.no-radius{
    border-radius: 0px !important
}
.radius{
    border-radius: 500px !important
}

.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.fixed{
    position: fixed;
}

.v-application{
        font-family: "Source Sans 3", sans-serif !important;
    }
    
.main-title{
        border-left: 2px solid #ffde17;
    padding-left: 10px;
}
.titulo-banner {
    font-size: calc(60px + 0.6vw);
    line-height: 1.2;
}


.titulo {
    font-size: calc(25px + 0.3vw);
}

.subtitulo {
    font-size: calc(20px + 0.25vw);
}
.subtitulo2 {
    font-size: calc(15px + 0.15vw);
}